<div class="about-main">
    <img class="icon-menu" src="/assets/menu-white.svg" width=50px>
    <div class="container">
        <h1>Relive your favorite moments</h1>
    </div>
</div>
<div class="about-supporting">
    <div class="container">
        <h2>No more sorting through photos</h2>
        <p>Stories automatically finds your best photos and creates a new travel journal. That way you can capture and share your special moments in fresh new ways.</p>
        <p><%= link_to "Sign up", contact_path, :class=>"btn btn-primary" %></p>
    </div>
</div>

