
<div class="menu" style="left: -240px;">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <img class="icon-close" src="/assets/close-white.svg" width=25px>
</div>
<div class="home-main">
    <img class="icon-menu" src="/assets/menu-white.svg" width=50px>
    <div class="container">
        <div class="row">
            <div class="content"> 
                <h1>Create and share Stories</h1> 
                <p><a class="btn btn-primary" href="#">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
<div class="home-supporting">
    <div class="container">
        <h2>Relive and share your adventures</h2>
        <p>Stories automatically creates a digital journal filled with only your best photos.</p>
    </div>
</div>
<div class="home-secondary">
    <div class="container">
    </div>
</div>
<div class="home-about">
    <div class="container">
        <h2>Discover More</h2>
        <p><a class="btn btn-primary" href=#>Learn more</a></p>
    </div>
</div>
<div class="footer">
    <div class="container">
        <p>A Matthew Yerkes Project</p>
    </div>
</div>